@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Courier+Prime&display=swap');

* {
  box-sizing: border-box;
}

html, body, #app, #loading {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0.25em;
  font-family: 'Lobster', cursive;
}

body {
  font-size: 1.5em;
  padding-bottom: 2em;
}

h2, h4 {
  margin-top: 1em;
  text-align: center;
}

h4 {
  margin-bottom: 4em;
}

p {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  font-weight: 800;
}

#loading, .card, .card * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 480px;
  height: 270px;
  max-width: 100%;
  background-color: #214251;
  margin: 1em auto;
  font-size: 16px !important;
  user-select: none;
}

.card * {
  position: absolute;
}

.card h1 {
  color: #eaeaea;
  font-size: 3.5em;
}

.title {
  color: white;
}

span.about {
  width: 440px;
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  margin-top: 2em;
  margin-bottom: -2.5em;
}

span.about a {
  font-family: "Courier Prime", monospace;
  color: white;
}

input[type="range"] {
  width: 100%;
}

#loading {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

.shadow {
  float: left;
}

footer {
  font-size: 1em;
  text-align: center;
  margin-top: 3em;
}
