html, body, #app, #loading {
  height: 100%;
}

#loading, .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 480px;
  height: 270px;
  max-width: 100%;
  background-color: #214251;
  margin: 1em auto;
}

.card > * {
  position: absolute;
}

input[type="range"] {
  width: 100%;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

.shadow {
  float: left;
}
