html, body, #app, #loading {
  height: 100%;
  font-size: 16px !important;
}

#loading, .card, .card * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 480px;
  height: 270px;
  max-width: 100%;
  background-color: #214251;
  margin: 1em auto;
}

.card * {
  position: absolute;
}

.title {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 0.5em;
  width: 480px;
  position: relative;
  top: 3em;
  color: white;
}

input[type="range"] {
  width: 100%;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

.shadow {
  float: left;
}
