@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Cutive+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
}

html, body, #app, #loading {
  height: 100%;
  position: absolute;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0.25em;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: 'Lobster', cursive;
}

@media (max-width: 600px) {
 body {
 }
}


h2, h4 {
  margin-top: 1em;
  text-align: center;
}

h4 {
  margin-bottom: 4em;
}

p {
  font-family: 'Cutive Mono', monospace;
  font-size: 1em;
  font-weight: 800;
}

#loading, .card, .card * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 480px;
  height: 270px;
  max-width: 100%;
  background-color: #214251;
  margin: 1em auto;
  font-size: 16px !important;
}

.card * {
  position: absolute;
}

.title {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 0.5em;
  width: 480px;
  position: relative;
  top: 2.5em;
  color: white;
}

input[type="range"] {
  width: 100%;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

.shadow {
  float: left;
}

footer {
  font-size: 1em;
  text-align: center;
  margin-top: 3em;
}
