html, body, #app, #loading {
  height: 100%;
}

#loading, .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 500px;
  background-color: #214251;
  margin: auto;
}

.card > * {
  position: absolute;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

.shadow {
  float: left;
}
