html, body, #app, #loading {
  height: 100%;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading i {
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

